<!--The content below is only a placeholder and can be replaced.-->
<div class="app-content">

  <div md-toolbar>
    <md-toolbar color="primary">
      <span>MY SOLARIZD</span>
    </md-toolbar>
  </div>

  <div class="flex-container" fxLayout fxLayout.xs="column" fxLayoutGap="0px" fxLayoutAlign="center">
    
    <div fxFlex="33" fxFlexOffset="0px" fxFlexOffset.xs="0">
      <div fxLayout="column" fxLayoutAlign="center">

        <div fxFlex="50%">
          <md-card class="card card-block" fxLayout>
            <md-icon>search</md-icon>
            <md-input-container>
              <input mdInput [(ngModel)]="dataSearch" (blur)="searchData(this,$event)" (keyup.enter)="$event.target.blur()" />
            </md-input-container>
          </md-card>
        </div>

        <div fxFlex="50%" class="card card-block" *ngIf="results && results.items">
          <md-card class="playlist">
          <md-nav-list>
            <md-list class="make-scrollable">
              <md-list-item *ngFor="let item of results.items" ng-click="null">
                <div fxFlex="99" fxLayoutAlign="center">

                  <div fxFlex="10%" class="playlist-image" fxLayoutAlign="center">
                    <img [src]="item.snippet.thumbnails.default.url" md-line alt="{{item.snippet.channelTitle}}" />
                  </div>
                  <div fxFlex="70%" class="playlist-title">
                    <p md-line>{{ item.snippet.title }}</p>
                  </div>
                  <div class="playlist-duration" fxFlex="12%">
                    <h3 md-line class="duration">{{ item.contentDetails.duration}}</h3>
                  </div>

                </div>

              </md-list-item>
            </md-list>
          </md-nav-list>
          </md-card>
        </div>
      </div>
    </div>

    <div fxFlex="33" fxFlexOffset="0px" fxFlexOffset.xs="0">
      <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center">
        <div fxFlex class="card card-block">
          <md-card>
            <button md-icon-button>
              <md-icon class="material-icons md-18">skip_previous</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="material-icons md-18">play_arrow</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="material-icons md-18">pause_arrow</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="material-icons md-18">skip_next</md-icon>
            </button>
            <button md-icon-button>
              <md-icon class="md-18">volume_up</md-icon>
            </button>
          </md-card>
        </div>
        <div fxFlex="30" class="card card-block">
          <md-card>
            <button md-icon-button>
                    <md-icon class="md-48">play_arrow</md-icon>
            </button>
            <md-spinner></md-spinner>
          </md-card>
        </div>
      </div>
    </div>

    <div fxFlex="33" fxFlexOffset="0.3px" fxFlexOffset.xs="0">
      <div fxLayout="column" fxLayoutGap="0.5px" fxLayoutAlign="center">
        <div fxFlex class="card card-block">
          <md-card>
            <button md-icon-button>
                  <md-icon class="md-48">home</md-icon>
            </button>
          </md-card>
        </div>
        <div fxFlex class="card card-block">
          <md-card>
            <h1>afadfads</h1>
          </md-card>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex-container">
    <md-card fx-flex="33">
      <button md-button>FLAT</button>
      <button md-raised-button>RAISED</button>
    </md-card>
    <md-card fx-flex="33">
      <button md-icon-button>
      <md-icon class="md-24">favorite</md-icon>
    </button>
    </md-card>
  </div> -->

</div>
