@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: myraidPro;
    src: "./assets/font-family/Myriad-Pro-Light_31642.ttf";
}
@font-face {
    font-family: myraidProSemiExtended;
    src: "./assets/font-family/Myriad-Pro-Light-SemiExtended_31641.ttf";
}

body{
    font-family:myraidProSemiExtended;
}

.input-full-width{
    width: 100%;
}

md-list.make-scrollable {
    height: 600px;
    background-color: #eceff1;
    overflow-y: scroll;
}

.playlist{
padding: 0px;
box-shadow: 1px 1px 3px grey !important;
}
.playlist-image{
    width: 40px;
    height: 40px;
    margin: auto;
}

/* resize images */
.playlist-image img {
    width: 100%;
    height: auto;
}

.playlist-title{
    font-family: myraidPro;
    font-size: 14px;
    margin: auto;
    display: block;
}

.playlist-title p{
    font-weight: normal;
    text-overflow: inherit;
    overflow: visible;
    margin-left: 12px;
    white-space:inherit !important;
    word-wrap: break-word;
}

.playlist-duration{
    font-family: myraidPro;
    font-size: 14px;
    margin: auto;
    display: block;
    float: left;
}

.playlist-duration h3{
    font-weight: normal;
    text-overflow: inherit;
    overflow: visible;
    margin-left: 5px;
}


::-webkit-scrollbar {
    display: none;
    }