

.container{
    position:relative
}
.google-signIn{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 1%;
    /* border-radius: 50%; */
}

.google-card{
    box-shadow: 2px 2px 5px #e62117 !important;
    padding: 10px;
    cursor: pointer;
    color:#455A64;
    background-color: rgba(241, 30, 19, 0.1);
    text-align: center;
    font-family: myraidPro;
    max-width: 75%;
}

.google-card h3{
    margin: 0px;
    font-size: 16px;
    font-weight: 100;
}

.app-card{
   border-radius: 45%;
   height: max-content;
}

md-toolbar{
    background-color: #e62117 !important;
}
.youtube-control.mat-card{
    padding: 5px !important;
}

.add-playlist-card.mat-card{
    padding: 5px !important;
}

.search-card.mat-card{
    padding: 10px !important;
}

.add-playlist-card{
    height: 318px;
    /* background-color: #EDE7F6; */
}

.search-input{
    width: 100%;
    outline: none;
    margin-left: 2%;
    font-family: myraidPro;
    font-size: 18px;
}


.material-icons{
    color:#e62117;
}


md-list.make-scrollable {
    height: 557px;
    background-color: rgba(62, 62, 62, 0.10);
    overflow-y: scroll;
}

.list-hover:hover{
    box-shadow: 2px 1px 5px #e62117;
    background-color: rgba(230, 33, 23, 0.20);
    color:#e62117;
}
/* a:visited, a:active, a:focus { color:red } */
.search-card:active, .search-card:focus, .search-card:hover{
    box-shadow: 1px 2px 5px #e62117;
}



md-nav-list.mat-nav-list{
    padding-top:0px;
}

md-card.search-card{
    box-shadow: 1px 2px 5px rgba(62, 62, 62, 0.76);
    margin: 0px 1px 1px 0px;
}

.playlist{
padding: 0px;
box-shadow: 1px 1px 3px grey !important;
margin-top: 2px;
}
.playlist-image{
    width: 40px;
    height: 40px;
    margin: auto;
}

.control-image{
    width: 70px;
    height: 50px;
    margin: 0px;
}

.control-image img{
    width: 100%;
    height: auto;
}

.title-control{
    max-height:50px;
}

/* resize images */
.playlist-image img {
    width: 100%;
    height: auto;
}

.playlist-title{
    font-family: myraidPro;
    font-size: 15px;
    display: block;
    max-width: 100% !important;
}

.playlist-title p{
    font-weight: normal;
    text-overflow: inherit;
    overflow: visible;
    margin-left: 10px;
    white-space:pre-line;
    word-wrap: break-word;
}

/* .playlist-play-button i{
   color:#00C853;
} */

.playlist-duration{
    font-family: myraidPro;
    font-size: 12px;
    margin: auto;
    display: block;
    float: left;
}

.playlist-duration h3{
    font-weight: normal;
    text-overflow: pre-line;
    overflow: visible;
    margin-left: 10px;
}


::-webkit-scrollbar {
    display: none;
    }

.display-youtube{
    padding: 0px !important;
    width:99.9%;
    height: 300px;
    background-color: #EDE7F6;
}   

iframe{
    width:99%;
    height:300px;
}

.video-icon{
    font-size: 100px;
    /* color: #b0bec5; */  
}

.youtube-control{
    background-color: rgba(33, 6, 6, 0.42);
    height: 300px;
    margin:0px
}

.youtube-control h3{
    color: #fff;
}

.youtube-control p{
    color: #fff;
}

.close{
    color:#455A64;
    font-weight:bold; 
}



.playlist-icon{
    font-size: 100px;
    /* color: #b0bec5; */
    width:99.9%;
    height: 207px;
}

.youtube-add-playlist h3{
    font-family:myraidProSemiExtended;
    color:#e62117; 
}

.playlist-duration h3{
    color:#455A64;
}

.related-videos{
    padding: 0px !important;
    height: 328px;

}

.related-videos i{
    font-size: 100px;
    /* color: #b0bec5; */
}

.volume-slider{
    display:inline-block;
}

.playlist-scrollable{
    overflow-y: scroll;
    height: 318px;
}


.progressBar{
    margin: auto;
    width: 100%;
}
.progressBar section{
   width: 85%;
}

.wishlist{
    display: -webkit-box !important;
}

.wishlist h3{
    font-size: 15px !important;
}

.wishlist i{
    text-overflow: pre-line;
    font-size: 18px !important;
}
