

.search-input{
    width: 100%;
    outline: none;
}

.material-icons{
    color:#673AB7;
}


md-list.make-scrollable {
    height: 515px;
    background-color: #EDE7F6;
    overflow-y: scroll;
}



md-nav-list.mat-nav-list{
    padding-top:0px;
}

md-card.search-card{
    box-shadow: 0.5px 1px 2px #CE93D8;
    margin: 0px 2px 1px 0px;
}

.playlist{
padding: 0px;
box-shadow: 1px 1px 3px grey !important;
margin-top: 2px;
}
.playlist-image{
    width: 40px;
    height: 40px;
    margin: auto;
}

/* resize images */
.playlist-image img {
    width: 100%;
    height: auto;
}

.playlist-title{
    font-family: myraidPro;
    font-size: 14px;
    margin: auto;
    display: block;
    max-width: 100% !important;
}

.playlist-title p{
    font-weight: normal;
    text-overflow: inherit;
    overflow: visible;
    margin-left: 12px;
    white-space:inherit !important;
    word-wrap: break-word;
}

/* .playlist-play-button i{
   color:#00C853;
} */

.playlist-duration{
    font-family: myraidPro;
    font-size: 12px;
    margin: auto;
    display: block;
    float: left;
}

.playlist-duration h3{
    font-weight: normal;
    text-overflow: inherit;
    overflow: visible;
    margin-left: 5px;
}


::-webkit-scrollbar {
    display: none;
    }

.display-youtube{
    padding: 0px !important;
}   

iframe{
    width:99%;
    height:300px;
}

.video-icon{
    font-size: 100px;
    /* color: #b0bec5; */
    width:99.9%;
    height: 300px;
    background-color: #EDE7F6;
}

.youtube-control{
    height: 300px;
}

.button-control{
    margin: auto;
}

.add-playlist-card{
    /* background-color: #EDE7F6; */
}

.playlist-icon{
    font-size: 100px;
    /* color: #b0bec5; */
    width:99.9%;
    height: 207px;
}

.youtube-add-playlist h3{
    font-family:myraidProSemiExtended;
    color:#9C27B0; 
}

.related-videos{
    padding: 0px !important;
    height: 314px;

}

.related-videos i{
    font-size: 100px;
    /* color: #b0bec5; */
}

.volume-slider{
    display:inline-block;
}

.playlist-scrollable{
    overflow-y: scroll;
    height: 258px;
}
