<div class="google-signIn" fxLayout fxLayoutAlign="center center">
    <md-card id="google-signIn-Btn" *ngIf="isSignIn" fxLayoutAlign="center center" fxLayoutGap="10px" class="google-card">
    <img src="../assets/icons8-Google.svg" height="40px" width="40px"/>
    <h3  fxLayoutAlign="center">Sign in with Google</h3>
    <!-- <h3  fxLayoutAlign="center">Sign out with Google</h3> -->
    </md-card>
    <md-card id="google-signOut-Btn" *ngIf="!isSignIn" fxLayoutAlign="center center" fxLayoutGap="10px" class="google-card">
        <img src="../assets/icons8-Google.svg" height="40px" width="40px"/>
        <!-- <h3 *ngIf="isSignIn" fxLayoutAlign="center">Sign in with Google</h3> -->
        <h3 fxLayoutAlign="center">Sign out with Google</h3>
    </md-card>

</div>